<span class="big-title">Pick where to deliver this mailer</span>
{{c-map}}
<div class="outercontainer">
  {{#link-to 'mailer.back' classNames="alt btn"}}back{{/link-to}}
  {{#link-to 'mailer.deliver' classNames="cta btn"}}next{{/link-to}}
</div>
