<span class="big-title">Pick where to deliver this mailer</span>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
</p>
<div class="outercontainer">
  {{#link-to 'mailer.back' classNames="alt btn"}}back{{/link-to}}
  {{#link-to 'mailer.deliver' classNames="cta btn"}}next{{/link-to}}
</div>
