<span class="big-title">Upload the front of your mailer</span>
<div class="outer-dropzone-container">
  {{c-dropzone}}
</div>
<div class="outercontainer">
  {{#link-to 'mailer.back' classNames="cta btn"}}next{{/link-to}}
</div>
  
