.mailer-form-container {
  padding: 50px 50px;
  @include outer-container;

  .big-title {
    @include span-columns(12);
    color: $base-accent-color;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 48px;
  }

  .outer-dropzone-container {
    @include outer-container;
    margin: 10px 0px 20px 0px;
  }

  .outercontainer {
    @include span-columns(12);
    text-align: center;

  }
}
