.dropzone {
  @include span-columns(12);
  text-align: center;
  outline: 3px solid $base-main-color;
  background: white;
  color: $base-main-color;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
}
